* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Forum';
    src: url('assets/fonts/Forum-Regular.ttf');
}

:root {
    --dark-bg-color: #030303;
    --light-bg-color: #FFFFFF;

    --yellow-text: #9D8665;
    --white-text: #FFFFFF;
    --black-text: #000000;

    --red: #710707;
    --grey: #999999;
    --dark-gray: #333333;

    --body-width: 90rem;
  }

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    grid-template-columns: 1fr var(--body-width) 1fr;
    width: 100%;
}

h1, h2 {
    font-family: "Forum";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 5px;
    margin: 1.6rem 0;
}

.mona-lisa-section {
    background-color: var(--dark-bg-color);
    grid-template-areas: "left-padding section-header right-padding"
                            "left-padding section-content right-padding";
}

.mona-lisa-section__header {
    grid-area: section-header;
    width: 100%;
    height: 150px;
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mona-lisa-section__header-logo {
    font-family: "Forum";
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.mona-lisa-section__header-navigation a {
    text-decoration: none;
    color: var(--white-text);
    font-family: "Roboto-thin";
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0 1rem;
}

.mona-lisa-section__content {
    grid-area: section-content;    
    margin-bottom: 3.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.mona-lisa-section__content-text {
    color: var(--white-text);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    z-index: 2;
}

.mona-lisa-section__content-subtitle {
    font-family: "Roboto-thin";
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.mona-lisa-section__content-button {
    font-family: "Roboto-thin";
    font-weight: 300;
    font-size: 1.4rem;
    width: 22.5rem;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 10px;
    margin: 4.7rem 0;
}

.mona-lisa-section__image-area {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.mona-lisa-section__image {
    width: max-content;
}

.mona-lisa-section__image img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.mona-lisa-section__image-pagination {
    position: absolute;
    width: 37.5rem;
    height: 7.5rem;
    background-color: var(--dark-bg-color);
    color: var(--white-text);
    right: 0;
    bottom: -3.725rem;
    display: flex;
    font-family: "Roboto-thin";
    font-size: 1.4rem;
    font-weight: 400;    
    justify-content: space-evenly;    
    align-items: center;
}

.image-pagination__of {
    margin: 1rem;
}

.image-pagination__navigation-cubes {
    display: flex;
}

.image-pagination__navigation_cube {
    width: 1rem;
    height: 1rem;
    background-color: var(--white-text);
    margin: 1rem;
}

.image-pagination__navigation_cube.selected {
    background-color: #D2B183;
}

.image-pagination__arrows {
    display: flex;
}

.image-pagination__arrows img {
    margin: 1rem;
}

/* -------------------------- VISITING SECTION------------------------------ */

.visiting-section {
    background-color: var(--light-bg-color);
    grid-template-areas: "left-padding section-title right-padding"
                        "left-padding section-divider right-padding"
                        "left-padding section-content right-padding";
    margin: 3rem 0;
}

.visiting-section__title {
    grid-area: section-title;
    color: var(--yellow-text);
}

.visiting-section__divider, .divider {
    grid-area: section-divider;
    width: 100%;
    height: 3px;
    background-color: var(--red);
    border: none;
    margin-bottom: 4.7rem;
}

.visiting-section__content {
    grid-area: section-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
    column-gap: 2rem;
}

.visiting-section__content-item-image {
    width: max-content;
}

.visiting-section__content-item-image img {
    display: block;    
    max-width: 100%;
    max-height: 100%;
}

.visiting-section__content-item-title {
    font-family: "Forum";
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 1.5rem;
}

.visiting-section__content-item-divider {
    width: 67%;
    margin: 10px 0;
    height: 2px;
    background-color: var(--red);
    border: none;

}

.visiting-section__content span {
    font-family: "Roboto-thin";
    font-weight: 100;
    width: 100%;
    display: block;    
    margin: 10px 0;
}

.visiting-section__content-item-tour-type {
    font-size: 1.4rem; 
}

.visiting-section__content-item-description {
    font-size: 1.1rem; 
}

/* -------------------------- EXPLORE SECTION------------------------------ */

.explore-section {
    background-color: var(--dark-bg-color);
    grid-template-areas: "left-padding section-content right-padding";
}

.explore-section__content {
    grid-area: section-content;
    display: flex;
    gap: 3.5rem;
    margin: 5.6rem 0;
}

.explore-section__text-area {
    color: var(--white-text);
}

.explore-section__title {
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 3.8rem;
}

.explore-section__description, .video-section__description {
    font-family: "Roboto-thin";
    font-weight: 100;
    font-size: 1.4rem; 
    line-height: 2.5rem;
    margin: 25px 0;
}

.explore-section__yellow-text {
    color: var(--yellow-text);
}

.explore-section__image-area {
    position: relative;
}

.explore-section__image-area img {
    display: block;
}

.explore-section__light-image {
    position: absolute;
    display: flex;
    height: 100%;
}

.explore-section__light-image::after {
    background-image: url(assets/explore_slider.svg);
    transform: translateX(-50%);
    content: " ";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
}

/* -------------------------- VIDEO SECTION------------------------------ */

.video-section {
    background-color: var(--light-bg-color);
    grid-template-areas: "left-padding header right-padding"
                        "left-padding video right-padding"
                        "left-padding carousel right-padding";
}

.video-section__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3.5rem 0;
}

.video-section__title {
    color: var(--yellow-text);
}

.video-section__main-video {
    grid-area: video;
}

.video-section__main-video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-section__video {
    width: 100%;
}

.video-section_main-play-button {
    position: absolute;
}

.video-section_main-play-button img {
    width: 100%;
    height: 100%;
}

.video-section__main-video-controls {
    position: relative;
    width: 100%;
    height: 85px;
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-section__main-video-controls img {
    margin: 0 2rem;
}

.video-section__progress-bar, .video-section__volume-bar {
    display: flex;
    width: 100px;
    margin: 0 2rem;
}

.video-section__progress-bar {
    flex-grow: 12;
}

.video-section__volume-bar {
    flex-grow: 2;
}

.bar {
    height: 8px;
}

.bar__passed {
    flex-grow: inherit;
    background-color: var(--red);
}

.bar__remain {
    flex-grow: inherit;
    background-color: var(--grey);
    display: flex;
    align-items: center;
}

.bar__remain::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--white-text);    
    transform: translateX(-50%);
}

.video-section__carousel {
    grid-area: carousel;
    margin-bottom: 75px;
}

.video-section__carousel-videos {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    column-gap: 2rem;
}

.video-section__carousel-video-item {
    position: relative;
    display: flex;
}

.video-item__header {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    color: var(--white-text);
    font-family: "Roboto-thin";
    font-weight: 100;
    font-size: 1.125rem;
    overflow: hidden;
}

.video-item__title {
    justify-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.video-item__header div {
    margin: 10px;
}

.video-item__video img {
    width: 100%;
    height: 100%;
}

.video-item__play {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.3rem;
    height: 3rem;    
    border-radius: 22%;
    background-color: rgba(33, 33, 33, 0.8);
}

.video-section__carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-section__carousel-pagination img {
    display: block;
}

.video-section__pagination-dots {
    display: flex;
}

.pagination-dots__item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--grey);    
    margin: 0 10px;
}

.pagination-dots__item.selected {
    background-color: var(--dark-gray);
}

.double-arrow {
    margin: 0 10px;
}

/* -------------------------- GALLERY SECTION------------------------------ */

.gallery-section {
    background-color: var(--dark-bg-color);
    grid-template-areas: "left-padding title right-padding"
                        "left-padding section-content right-padding";
    height: 2200px;    
    overflow: hidden;
    position: relative;
}

.gallery-section__title {
    grid-area: title;
    color: var(--white-text);
    margin: 75px 0;
}

.gallery-section__images {
    grid-area: section-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    overflow: hidden;
    position: relative;    
    gap: 2rem;
}

.gallery-section__images-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-section__images-column:nth-child(odd) {
    margin-top: 5rem;
}

.gallery-section__image-item img {    
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-section__images::after {
    content: "";
    background: linear-gradient(to top,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    width: 100%;
    height: 360px;
    position: absolute;
    bottom: 0;
}

/* -------------------------- TICKETS SECTION------------------------------ */

.tickets-section {
    grid-template-areas: "left-padding section-title right-padding"
                        "left-padding section-divider right-padding"
                        "left-padding section-content right-padding"
                        "parallax-image parallax-image parallax-image";
    margin-top: 3rem;
}

.tickets-section__title {
    grid-area: section-title;
    color: var(--yellow-text);
}

.tickets-section__divider {
    grid-area: section-divider;
}

.tickets-section__content {
    grid-area: section-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 3rem;
}

.tickets-section__content-image img {
    width: 100%;
    display: block;
}

.tickets-section__form {
    display: flex;
    justify-content: space-between;
}

form p {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: Bold;
    margin-bottom: 25px;
}

.roboto-light-text {
    margin: 25px 0;
    font-family: "Roboto-light";
    font-size: 22px;
}

.tickets-section__radio-group {
    display: grid;
    grid-template-columns: 17px max-content;
    align-items: center;    
    gap: 23px;
}

.tickets-section__radio-group:first-of-type {
    margin-top: 50px;
}

input[type='radio'] {
    width: 17px;    
    height: 0;
}


input[type='radio']::after {
    content: "";
    background-image: url(assets/buy-tickets/radio-not-checked.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    display: block;
}

input[type='radio']:checked:after {
    content: "";
    background-image: url(assets/buy-tickets/radio-checked.svg);
}

.tickets-section__ticket-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tickets-section__age-control {
    width: 150px;
    height: 50px;
    border: 3px solid var(--black-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0 10px 0;
}

.age-control {
    font-family: "Roboto";
    font-size: 32px;
}

.tickets-section__total {
    margin: 50px 0;
}

.tickets-section__buy-button {
    color: var(--white-text);
    width: 175px;
    height: 50px;
    background-color: var(--black-text);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 10px 0;
}

.tickets-section__parallax-image img {
    width: 100%;
    display: block;
}

.tickets-section::after {
    content: "";
    grid-area: parallax-image;
    background-image: url(assets/buy-tickets/gellary-parallax.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1480px) {

    section {
        grid-template-columns: 20px 1fr 20px;
    }

    .visiting-section__content {
        justify-content: space-evenly;
    }

    .explore-section__content {
        flex-direction: column;
    }

    .explore-section__description {
        margin: 10px 0;
    }

    .explore-section__image-area {
        align-self: center;     
    }

    .video-section__header {
        grid-template-columns: 1fr;
    }

    .video-section__description {
        display: none;
    }
}

@media (max-width: 1060px) {

    h1, h2 {
        font-size: 3.1rem;
    }

    .divider {        
        margin-bottom: 3.7rem;
    }

    .mona-lisa-section__header {
        height: 130px;
    }

    .mona-lisa-section__header-navigation a {
        display: none;
    }

    .mona-lisa-section__header-navigation {
        background-image: url("/assets/burger-menu-icon.svg");
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mona-lisa-section__content-subtitle {
        font-size: 1.4rem;
    }

    .mona-lisa-section__content-button {
        font-size: 1.2rem;
        width: 18.7rem;
        height: 3.8rem;
    }

    .mona-lisa-section__image {
        width: 700px;
    }

    .mona-lisa-section__image-pagination {
        padding-left: 200px;
    }

    .visiting-section__content-item-image {
        width: 330px;
    }

    .visiting-section__content-item-title {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1.2rem;
    }

    .visiting-section__content-item-description {
        font-size: 1rem;
    }

    .explore-section__description {
        font-size: 1.2rem;
        margin: 5px 0;
    }

    .explore-section__description:last-child {
        display: none;
    }
    
    
    .video-section_main-play-button {
        width: 152px;
        height: 152px;
    }
    
    .gallery-section {
        height: 1480px;
    }

    .gallery-section__images::after {
        height: 240px;
    }

    .tickets-section__ticket-type {
        display: none;
    }

    .tickets-section__content {
        grid-template-columns: 1fr max-content;
    }

    .tickets-section__ticket-amount {
        align-items: flex-start;
    }

}

@media (max-width: 808px) {

    h1 {
        text-align: center;
    }

    h1, h2 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .divider {
        margin-bottom: 40px;
    }

    .mona-lisa-section__header {
        height: 110px;
    }

    .mona-lisa-section__content { 
        grid-template-columns: 1fr;
        row-gap: 3rem;
        margin-bottom: 0;
    }
    
    .mona-lisa-section__content-text {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .mona-lisa-section__content-subtitle {
        text-align: center;
        font-size: 1.2rem;
    }
    
    .mona-lisa-section__content-button {
        display: none;
    }

    .mona-lisa-section__image-area {  
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }

    .mona-lisa-section__image {
        width: calc(100vw - 40px);
    }

    .mona-lisa-section__image-pagination {
        position: relative;
        padding-left: 0;
        width: 80%;
        height: 100px;
        margin: 0 auto;
        font-size: 1.2rem;
        bottom: 0;
    }

    .image-pagination__of {
        margin: 0.5rem;
    }

    .image-pagination__navigation_cube {
        width: 0.8rem;
        height: 0.8rem;
        margin: 0.5rem;
    }

    .image-pagination__arrows img {
        margin: 0.5rem;
    }

    .visiting-section__content-item-image {
        width: 280px;
    }

    .visiting-section__content-item-title {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1.1rem;
    }

    .explore-section__content {
        margin: 40px 0;
        gap: 0;
    }

    .explore-section__description {
       display: none;
    }

    .explore-section__image-area {
        width: 100%;
    }

    .explore-section__image-area img {
        width: 100%;
    }    

    .video-section__header {
        margin: 40px 0 0 0;
    }
    
    .video-section_main-play-button {
        width: 80px;
        height: 80px;
    }
    
    .video-section__carousel-video-item:last-child {
        display: none;
    }

    .video-section__progress-bar {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .video-section__main-video-controls .control {
        width: 27px;
        height: 27px;
        
    margin: 0 1rem;
    }

    .video-section__main-video-controls img {
        margin:0;        
        width: 100%;
        height: 100%;
    }

    .gallery-section {
        height: 1220px;
    }

    .gallery-section__title {
        margin: 40px 0;
    }

    .gallery-section__images {
        grid-template-columns: repeat(2, 1fr);
    }

    .tickets-section::after {
        height: 300px;
    }
}

@media (max-width: 480px) {

    h1, h2 {
        font-size: 1.8rem;
    }

    .mona-lisa-section__header-logo {
        font-size: 1rem;
    }

    .mona-lisa-section__header-logo img{
        width: 29px;
        height: 16px;
    }

    .mona-lisa-section__content-subtitle {
        font-size: 1rem;
    }

    .mona-lisa-section__image-pagination {
        font-size: 1rem;
    }

    .image-pagination__navigation_cube {
        width: 0.45rem;
        height: 0.45rem;
    }

    .image-pagination__arrows img {
        width: 20px;
    }

    .visiting-section__content-item-title {
        font-size: 1.2rem;
        letter-spacing: 5px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1rem;
    }

    .gallery-section {
        height: 757px;
    }

    .gallery-section__images::after {
        height: 112px;
    }

    .tickets-section__content {
        grid-template-columns: 1fr;
        grid-template-rows: 160px max-content;
        justify-items: center;
        gap: 40px;
    }

    .tickets-section__content-image {
        overflow: hidden;
    }

    .tickets-section__ticket-amount {
        align-items: center;
    }

    .tickets-section__age-control {
        width: 175px;
        height: 50px;
    }

    .form-title, span.roboto-light-text {
        font-size: 16px;
    }

    .tickets-section__total {
        margin: 20px 0;
    }

}

@media (max-width: 360px) { 
    body {
        display: none;
    }
}