* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Forum';
    src: url('assets/fonts/Forum-Regular.ttf');
}

:root {
    --dark-bg-color: #030303;
    --light-bg-color: #FFFFFF;

    --yellow-text: #9D8665;
    --white-text: #FFFFFF;
    --black-text: #000000;

    --red: #710707;
    --grey-dots: #999999;

    --body-width: 90rem;
  }

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    grid-template-columns: 1fr var(--body-width) 1fr;
    width: 100%;
}

h1, h2 {
    font-family: "Forum";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 5px;
    margin: 1.6rem 0;
}

.mona-lisa-section {
    background-color: var(--dark-bg-color);
    grid-template-areas: "left-padding section-header right-padding"
                            "left-padding section-content right-padding";
}

.mona-lisa-section__header {
    grid-area: section-header;
    width: 100%;
    height: 150px;
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mona-lisa-section__header-logo {
    font-family: "Forum";
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.mona-lisa-section__header-navigation a {
    text-decoration: none;
    color: var(--white-text);
    font-family: "Roboto-thin";
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0 1rem;
}

.mona-lisa-section__content {
    grid-area: section-content;    
    margin-bottom: 3.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.mona-lisa-section__content-text {
    color: var(--white-text);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    z-index: 2;
}

.mona-lisa-section__content-subtitle {
    font-family: "Roboto-thin";
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.mona-lisa-section__content-button {
    font-family: "Roboto-thin";
    font-weight: 300;
    font-size: 1.4rem;
    width: 22.5rem;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 10px;
    margin: 4.7rem 0;
}

.mona-lisa-section__image-area {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.mona-lisa-section__image {
    width: max-content;
}

.mona-lisa-section__image img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.mona-lisa-section__image-pagination {
    position: absolute;
    width: 37.5rem;
    height: 7.5rem;
    background-color: var(--dark-bg-color);
    color: var(--white-text);
    right: 0;
    bottom: -3.725rem;
    display: flex;
    font-family: "Roboto-thin";
    font-size: 1.4rem;
    font-weight: 400;    
    justify-content: space-evenly;    
    align-items: center;
}

.image-pagination__of {
    margin: 1rem;
}

.image-pagination__navigation-cubes {
    display: flex;
}

.image-pagination__navigation_cube {
    width: 1rem;
    height: 1rem;
    background-color: var(--white-text);
    margin: 1rem;
}

.image-pagination__navigation_cube.selected {
    background-color: #D2B183;
}

.image-pagination__arrows {
    display: flex;
}

.image-pagination__arrows img {
    margin: 1rem;
}

/* -------------------------- VISITING SECTION------------------------------ */

.visiting-section {
    background-color: var(--light-bg-color);
    grid-template-areas: "left-padding section-title right-padding"
                        "left-padding section-divider right-padding"
                        "left-padding section-content right-padding";
    margin: 3rem 0  ;
}

.visiting-section__title {
    grid-area: section-title;
    color: var(--yellow-text);
}

.visiting-section__divider {
    grid-area: section-divider;
    width: 100%;
    height: 3px;
    background-color: var(--red);
    border: none;
    margin-bottom: 4.7rem;
}

.visiting-section__content {
    grid-area: section-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
    column-gap: 2rem;
}

.visiting-section__content-item-image {
    width: max-content;
}

.visiting-section__content-item-image img {
    display: block;    
    max-width: 100%;
    max-height: 100%;
}

.visiting-section__content-item-title {
    font-family: "Forum";
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 1.5rem;
}

.visiting-section__content-item-divider {
    width: 67%;
    margin: 10px 0;
    height: 2px;
    background-color: var(--red);
    border: none;

}

.visiting-section__content span {
    font-family: "Roboto-thin";
    font-weight: 100;
    width: 100%;
    display: block;    
    margin: 10px 0;
}

.visiting-section__content-item-tour-type {
    font-size: 1.4rem; 
}

.visiting-section__content-item-description {
    font-size: 1.1rem; 
}

@media (max-width: 1480px) {

    section {
        grid-template-columns: 20px 1fr 20px;
    }

    .visiting-section__content {
        justify-content: space-evenly;
    }
}

@media (max-width: 1060px) {

    h1, h2 {
        font-size: 3.1rem;
    }

    .mona-lisa-section__header {
        height: 130px;
    }

    .mona-lisa-section__header-navigation a {
        display: none;
    }

    .mona-lisa-section__header-navigation {
        background-image: url("/assets/burger-menu-icon.svg");
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mona-lisa-section__content-subtitle {
        font-size: 1.4rem;
    }

    .mona-lisa-section__content-button {
        font-size: 1.2rem;
        width: 18.7rem;
        height: 3.8rem;
    }

    .mona-lisa-section__image {
        width: 700px;
    }

    .mona-lisa-section__image-pagination {
        padding-left: 200px;
    }

    .visiting-section__content-item-image {
        width: 330px;
    }

    .visiting-section__content-item-title {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1.2rem;
    }

    .visiting-section__content-item-description {
        font-size: 1rem;
    }
}

@media (max-width: 808px) {

    h1, h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 0;
    }

    .mona-lisa-section__header {
        height: 110px;
    }

    .mona-lisa-section__content { 
        grid-template-columns: 1fr;
        row-gap: 3rem;
        margin-bottom: 0;
    }
    
    .mona-lisa-section__content-text {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .mona-lisa-section__content-subtitle {
        text-align: center;
        font-size: 1.2rem;
    }
    
    .mona-lisa-section__content-button {
        display: none;
    }

    .mona-lisa-section__image-area {  
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }

    .mona-lisa-section__image {
        width: calc(100vw - 40px);
    }

    .mona-lisa-section__image-pagination {
        position: relative;
        padding-left: 0;
        width: 80%;
        height: 100px;
        margin: 0 auto;
        font-size: 1.2rem;
        bottom: 0;
    }

    .image-pagination__of {
        margin: 0.5rem;
    }

    .image-pagination__navigation_cube {
        width: 0.8rem;
        height: 0.8rem;
        margin: 0.5rem;
    }

    .image-pagination__arrows img {
        margin: 0.5rem;
    }

    .visiting-section__content-item-image {
        width: 280px;
    }

    .visiting-section__content-item-title {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {

    h1, h2 {
        font-size: 1.8rem;
    }

    .mona-lisa-section__header-logo {
        font-size: 1rem;
    }

    .mona-lisa-section__header-logo img{
        width: 29px;
        height: 16px;
    }

    .mona-lisa-section__content-subtitle {
        font-size: 1rem;
    }

    .mona-lisa-section__image-pagination {
        font-size: 1rem;
    }

    .image-pagination__navigation_cube {
        width: 0.45rem;
        height: 0.45rem;
    }

    .image-pagination__arrows img {
        width: 20px;
    }

    .visiting-section__content-item-title {
        font-size: 1.2rem;
        letter-spacing: 5px;
    }

    .visiting-section__content-item-tour-type {
        font-size: 1rem;
    }
}

@media (max-width: 360px) { 
    body {
        display: none;
    }
}