* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-light';
    src: url(../assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-medium';
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(../assets/fonts/Forum-Regular.ttf);
}

:root {
    --dark-bg-color: #030303;
    --light-bg-color: #FFFFFF;

    --gold: #9D8665;
    --white-text: #FFFFFF;
    --black-text: #000000;

    --gold-svg: invert(53%) sepia(51%) saturate(241%) hue-rotate(356deg) brightness(92%) contrast(87%);
    --red-svg: invert(111%) sepia(74%) saturate(4562%) hue-rotate(362deg) brightness(56%) contrast(117%);
    --red-svg-white: invert(92%) sepia(72%) saturate(4702%) hue-rotate(1deg) brightness(99%);

    --red: #710707;
    --grey: #999999;
    --dark-gray: #333333;
    --middle-gray: #666666;

    --body-width: 90rem;
  }

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    grid-template-columns: 1fr var(--body-width) 1fr;
    width: 100%;
}

h1, h2 {
    font-family: "Forum";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 5px;
    margin: 1.6rem 0;
}

.logo {
    color: var(--white-text);
    font-family: "Forum";
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.logo-group {
    text-decoration: none;
}

.logo-group:hover {
    color: var(--gold);
    filter: var(--gold-svg);
}

.divider {
    grid-area: section-divider;
    width: 100%;
    height: 3px;
    background-color: var(--red);
    border: none;
    margin-bottom: 4.7rem;
}

@media (max-width: 1480px) {

    section {
        grid-template-columns: 20px 1fr 20px;
    }
}

@media (max-width: 1060px) {

    h1, h2 {
        font-size: 3.1rem;
    }

    .divider {        
        margin-bottom: 3.7rem;
    }

}

@media (max-width: 820px) {

    h1 {
        text-align: center;
    }

    h1, h2 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .divider {
        margin-bottom: 40px;
    }

}

@media (max-width: 540px) {

    h1, h2 {
        font-size: 1.8rem;
    }

    .logo {
        font-size: 1rem;
    }

    .logo img{
        width: 29px;
        height: 16px;
    }

}

@media (max-width: 360px) { 
    body {
        display: none;
    }
}